@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-gray: #ccc;
  --box-shadow: 0 3px 13px 0 rgba(11, 15, 22, 0.26);
  --box-shadow-btn: 2px 1px 5px 1px rgba(134, 137, 141, 0.48);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

button, a { cursor: pointer;}
input:focus { border-color: #313237; outline: nonel;}

.btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: #000;
    box-shadow: none;
    transition: all .4s;   

}

.btn:hover { 
  box-shadow: var(--box-shadow-btn);
  opacity: 0.9;
}

.add-btn {
    background-color: #313237;
    color: #fff;
}

.add-btn--selected {
    border: 1px solid #e2e6e9;
    color: #27ae60;
    background-color: #fff;
}

.reset-filters-btn { 
 background-color: rgb(184, 56, 56);
 color: #fff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
